
<div class="collapse" id="jobHistory">
  <div class="card card-block">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag 'about/hillcrest-image.jpg', width: '100%' %>
      </div>
      <div class="col-md-9">
        <strong>Student</strong> - I am a student at Hillcrest High School, at the current moment I have no job experience.
      </div>
    </div>
  </div>
</div>
