
          <div class="collapse" id="education">
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag 'about/hillcrest-image', width: '100%' %>
                </div>
                <div class="col-md-9">
                  Currently in High School at Hillcrest High, going into softmore year. I'm currently taking AP courses in the hope of advancing my education.
                </div>
              </div>
            </div>
          </div>
